body {
  font-family: Roboto,'Times New Roman';
  margin: auto
}
.header {
  background-color: #1f2937;
  display: flex;
  flex-direction: column
}
ul {
  list-style-type: none;
  padding: 0
}
.navbar a {
  color: #e5e7eb;
  text-decoration: none
}
.navbar {
  margin-bottom: auto;
  display: flex;
  width: 950px;
  align-items: center;
  gap: 16px;
  margin: auto;
  padding-top: 15px
}
.header-logo {
  margin-right: auto;
  font-size: 24px;
  font-weight: 700
}
.hero {
  display: flex;
  flex-flow: row wrap;
  margin: 100px auto;
  max-width: 950px;
  gap: 40px;
  justify-content: space-flex
}
.hero-text {
  flex: 1;
  color: #e5e7eb;
  font-size: 18px
}
.hero-text h1 {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
  margin: 0;
  padding: 0
}
.hero-text button {
  background-color: #3882f6;
  color: #f9faf8;
  font-weight: 700;
  padding: 8px 30px;
  border: none;
  text-decoration: none;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer
}
.hero-text p {
  margin: 0;
  padding: 8px 0
}
.hero-image {
  flex: 1;
  min-width: 350px
}
.hero-image img {
  max-width: 100%;
  height: auto
}
.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 850px;
  margin: 50px auto 100px auto
}
.info h2 {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
  margin: 0;
  padding: 50px
}
.info-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 50px
}
.info-box {
  display: flex;
  flex-direction: column;
  max-width: 125px
}
.infobox img {
  width: 100%;
  height: 100%
}
.infobox p {
  margin: 0;
  padding: 0
}
.quote {
  display: flex;
  flex-direction: column;
  background-color: #e5e7eb;
  font-size: 36px;
  color: #1f2937;
  padding: 100px 362px;
  margin: auto
}
.quote h3 {
  align-self: flex-end;
  margin: 0;
  font-size: 24px
}
.quote p {
  margin: 0;
  padding: 0;
  font-style: italic;
  font-weight: 300
}
.call-to-action {
  display: flex;
  background-color: #3882f6;
  margin: 100px 150px;
  padding: 30px 75px;
  color: #e5e7eb;
  border-radius: 10px;
  justify-content: space-between;
  align-items: center
}
.call-to-action h3 {
  padding: 0;
  margin: 0
}
.call-to-action p {
  padding: 0;
  margin: 0
}
.call-to-action button {
  background-color: #3882f6;
  border: none;
  color: #f9faf8;
  font-weight: 700;
  padding: 8px 30px;
  text-decoration: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  border: 2px solid #f9faf8
}
.footer {
  margin: auto;
  display: flex;
  color: #e5e7eb;
  background-color: #1f2937;
  justify-content: center
}